*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(69,252,163);
    background: linear-gradient(170deg, rgb(51, 240, 149) 11%, rgb(51, 195, 197) 34%, rgba(31,154,138,1) 50%, rgba(69,252,163,1) 100%);
}
 
.Box{
    height: 350px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(55, 250, 156);
    background: linear-gradient(170deg, rgb(76, 235, 158) 11%, rgb(51, 190, 192) 34%, rgba(31,154,138,1) 50%, rgb(56, 247, 154) 100%);
    border: 3px solid white;
    border-radius: 20px;
}

.Box h2{
    color: white;
}

.Box form{
    height: 90%;
    width: 90%;
}

.Box input{
    width: 100%;
    height: 12%;
    
}

.sign{
    border-radius:20px;
    border: 0px;
    background-color: rgba(20, 19, 19, 0.812);
    color: white;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.password{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.616);
}

.a1{
    border-radius:6px;
    border: 0px;
}